body
{
    background:linear-gradient(
        to right,
        black,
        gray,
        black
    )
}

.background
{
    background-color: aliceblue;
    color:black;
    border: 5px solid goldenrod;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
    width: 1000px;
    padding: 15px;
    text-align: center;
    font-family:sans-serif;
}
.text
{
    text-align: center;
    font-family:sans-serif;
}
.gra
{
    background-color: black;
    color: white;
    text-align: center;
    border: 5px solid goldenrod;
    position:absolute;
    width: 720px;
    height: 720px;
    transform: translate(-50%,-50%);
    top: 45%;
    left: 50%;
    outline: none;
    padding: 15px 0;
    font-size: 26px;
    font-weight: 600;
}